#Impedir que se pueda ver el listado de contenidos de un directorio 

Options All -Indexes

#============URL'S AMIGABLES==============
#Activar RewriteEngine habilitar la rescritura de las reglas

RewriteEngine on

RewriteRule ^([a-zA-Z0-9/-]+)$  index.php?action=$1